.card {
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  height: 340px;
  transition: 0.5s all;
  }

  .card-box {
  text-align: center;
  display: grid;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 70px 75px;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 25px;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  .card p {
    position: absolute;
    bottom: -10px;
    padding-left: 10px;
    color: #fff;
    font-size: 1.75vw;
    text-align: initial;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
  }
