.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link-header {
    display: flex;
    gap: 45px;
}

.link-style {
    text-decoration: none;
    color: #FF6060;
    font-weight: 500;
    font-size: 24px;
}

.active {
    text-decoration: underline;
    color: #FF6060;
}

@media screen and (max-width: 720px) {
    .logo img {
        width: 145px;
        height: 47px;
    }

    .link-style {
        font-size: 12px;
    }

    .link-header {
        gap: 10px;
        margin-bottom: 0;
    }
}