.tags-container {
    display: flex;
    margin-top: 10px;
  }
  
.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 25px;
    background-color: #ff6060;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 10px;
  }