.drop-down-zone {
    margin-left: 100px;
    margin-right: 100px;
}

@media screen and (max-width:1000px) {

    .drop-down-zone {
        margin-inline: 40px;
    }
}

@media screen and (max-width:740px) {

    .drop-down-zone {
        margin-inline: 20px;
        margin: 0;
        margin-bottom: 30px;
    }
}