.error {
    font-size: 288px;
    text-align: center;
    font-weight: 700;
    color: #ff6060;
    margin-top: 100px;
    margin-bottom: 35px;
}

.oups {
    font-size: 36px;
    text-align: center;
    font-weight: 500;
    color: #ff6060;
    margin-bottom: 130px;
}

.link {
    display: flex;
    font-size: 18px;
    justify-content: center;
    font-weight: 500;
    color: #ff6060;
    margin-bottom: 30px;
}

@media screen and (max-width: 720px) {
    .error {
        font-size: 96px;
    }

    .oups {
        font-size: 18px;
    }

    .link {
        font-size: 14px;
    }
}